.services_section {
  background-color: black;
  color: white;
  padding: 40px;
}

.services_title {
  text-align: center;
  font-size: 3rem;
  margin-bottom: 30px;
}

.services_list {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.service_item {
  display: flex;
  align-items: center;
  border-top: 1px solid #FFFFFF;
  padding: 15px 0;
}

.service_tag {
  width: 150px;
  color: #888;
}

.service_content {
  display: flex;
  align-items: center;
  margin-left: 35rem;
  gap: 3rem;
  
}

.service_image {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  object-fit: cover;
}

.service_name {
  font-size: 1rem;
  margin-left: 1rem;
  width: 350px;
}

.service_desc {
  color: #aaa;
  font-size: 0.9rem;
}

.link {
  display: flex;
  align-items: center;
  justify-content:flex-end;
  text-align: right;
  margin-left: 38rem;
}